@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body{
  background-color: var(--color-primary-gray);
  font-family: 'Roboto', sans-serif;
}

aside {
  width: 320px;
  height: 100vh;
  background-color: var(--color-menu);
}

nav {
  display: flex;
  flex-direction: column;
  padding-top: var(--gap-small);
  padding-left: var(--gap-medium);
}

main{
  height: 100vh;
  flex: 1;
}