.link-action{
  margin: 0  var(--gap-smaller);
  color: var(--color-primary);
  text-decoration: none;
  vertical-align: middle;
}

.link-action.main {
  margin: var(--gap-large) var(--gap-smaller);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.015em;
}